

<div class='row'>
  <div class="col-lg">
    <div class="card">
      <div class="card-body">

        <div class='row'>
          <div class="col-2">
            <%= image_tag user_avatar(@user, 80), class: 'img-fluid img-thumbnail'%>
            <%# <%= image_tag @user.avatar , size: '80x80' ,  class: 'rounded-circle'%>
          </div>
          <div class='col-8'>
            <h3 class='card-title'><%= @user.username %></h3>
            <h6 class="card-subtitle mb-2 text-muted"><%= @user.email %></h6>
            <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
