<% events.each do |event| %>
  <div class='col-10 mb-4'
       data-controller="eventcontent"
       data-action="mouseenter->eventcontent#shadow mouseleave->eventcontent#shadow"
       >
       <div class='card p-3'
            id="card-<%= event.id %>"
            data-target="eventcontent.card"
            >
            <%= image_tag event_cover_image(event, 700),  class: 'card-img-top', alt: 'cover_image' %>
         <div class="card-body">
           <h5 class="card-title"><%= event.name %></h5>

           <p class="card-text"><%= event.location %></p>
           <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(event.updated_at)%> ago</small></p>
           <%= link_to "#{ event.name }", event_path(event) %>
         </div>
       </div>
  </div>
<% end %>
