<header class="event-listing__header ">
  <div class="listing-hero-image__blurry-background">
    <%= image_tag event_cover_image(@event), style: 'height:100%; width:auto;' %>
  </div>
</header>
<%# Event Listing Body %>
<div class='event-listing__body'>
  <%# Listing Hero Details%>
  <div class='listing-hero-details__main-container'>
    <div class="listing-hero_badge-container">
      <div class="row no-gutters">
        <div class="col-8 listing-hero" style="height:300px">
          <%= image_tag event_cover_image(@event),  class: 'img-fluid mh-100' %>
        </div>
        <div class="col-4 d-flex flex-column p-4 listing-panel  justify-content-between">
          <div class='d-flex flex-column'>
            <div>
              <h5>
                <%= @event.date.to_date.strftime("%b")%>
              </h5>
            </div>
            <div>
              <h5>
                <%= @event.date.to_date.strftime("%d")%>
              </h5>
            </div>
          </div>
          <div>
            <h4>
              <%= @event.name %>
            </h4>
            <p class="text-muted">
            by <%= @event.creator.username %>
            </p>
          </div>
          <button class="btn btn-outline-primary">Follow</button>
          <p>Free</p>
        </div>
      </div>
    </div>
  </div>
  <div class='listing-body'>
    <%# Listing Card Panel%>
    <div class="listing-panel-wrapper row pt-2 pl-2">
      <div class="col-8 d-flex flex-row">
        <i class="fas fa-share-square fa-2x m-2"></i>
        <i class="far fa-heart fa-2x m-2"></i>
           <% if @event.creator == current_user %>
            <%= link_to "Edit event", edit_event_path(@event), class: 'btn btn-warning' %> 
           <% end %>
      </div>
      <div class="col-2 d-flex flex-column">
        <%= link_to 'Register',new_event_invitation_path(@event),class:'btn btn-success', id: 'register-button' %>
      </div>
    </div>
    <hr class="my-r">
    <%# Listing Card Info%>
    <div class="container listing-card-info">
      <div class="col-8">
        <section><%= @event.description %></section>
      </div>
      <div class="col-2">

      </div>
    </div>
    <div class="container p-5">
      <h2>Registered Users</h2>
      <hr class="my-r">
     <ul class="list-group p-2">
        <% @event.attendess.each do |attendee| %>
          <li class="list-group-item"><%= link_to attendee.username , attendee%></li>
          <% end %> 
      </ul> 
    </div>
  </div>
</div>
